USE [prueba-nodejs]
GO
/****** Object:  Table [dbo].[CustomerCustomerDemo]    Script Date: 19/08/2021 8:44:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCustomerDemo](
	[CustomerID] [nvarchar](50) NOT NULL,
	[CustomerTypeID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
